/* MAIN COLOR PALETTE & FONT SHENANIGANS

For backgrounds ----> #260000
For text -----> #F1E886
Currently looking for a third color mate...
Trying RN with Cabin

*/

html{
  height: 100%;
}

body {
  background-color: #260000;
  height: 100%;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  color: #F1E886;

  scroll-behavior: smooth;
}
/* Snapping Scroll */

section{
  min-height: 100vh;
  scroll-snap-align: start;
}


.App{
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}



/* Dashboard Styling */

.dashboard{
  color: #F1E886;
  min-height: 100vh;
}
.dashboard h1{
  font-weight: 700;
}

/* Main Component Styling */

.introduction, .preskills, .skills, .interests, .contact{
  min-height: 100vh;
}

/* Card Styling */
.card-img-overlay{
  background-color: rgb(241, 232, 134,0.5);
  color: #260000;
  font-weight: 800;
}

.card{
  transition: transform .2s;
}

.card:hover{
  transform: scale(1.1);
}