/* MAIN COLOR PALETTE & FONT SHENANIGANS

For backgrounds ----> #260000
For text -----> #F1E886
Currently looking for a third color mate...
Trying RN with Cabin

*/

html{
  height: 100%;
}

body {
  background-color: #260000;
  height: 100%;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  color: #F1E886;

  scroll-behavior: smooth;
}
/* Snapping Scroll */

section{
  height: 100vh;
  scroll-snap-align: start;
}
.App{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}



/* Dashboard Styling */

.dashboard{
  color: #F1E886;
  min-height: 100vh;
}
.dashboard h1{
  font-weight: 700;
}

/* Main Component Styling */

.introduction{
  min-height: 100vh;
}

.preskills{
  min-height: 100vh;
}
