/* MAIN COLOR PALETTE & FONT SHENANIGANS

For backgrounds ----> #260000
For text -----> #F1E886
Currently looking for a third color mate...
Trying RN with Cabin

*/

html{
  height: 100%;
}

body {
  background-color: #260000;
  height: 100%;
  font-family: 'Cabin', sans-serif;
}

/* Dashboard Styling */

.dashboard{
  color: #F1E886;
  min-height: 100vh;
}
.dashboard h1{
  font-weight: 700;
}

